/* NavBar
   Author: Thales
*/
.links-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}
.links-nav li {
	padding: 13px;
}
.spacer-top-body{
	margin-top: 4rem;
}

@media(max-width:750px){
	.links-nav{
		display: none;
	}
}


/*Author: Thales*/

/*CSS for campaing page*/

/*Hover zoom img effect
Sources: https://www.w3schools.com/howto/howto_css_zoom_hover.asp and https://youtube.com/shorts/-4PtUNKZr8M?si=-x04MyQYTLYg2XLB */

.wrapper-et{
	overflow: hidden;
	border-radius: 5px;
}
.wrapper-et img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 1s ease;
}
.wrapper-et img:hover{
	transform: scale(1.1);
}
/*End img effect*/


/*Spacers for images*/
.spacer-left-campaings{
	padding-left: 20px;
}
.spacer-bellow-campaings{
	padding-bottom: 20px;
}

/*wrap image and add text in the image
Sources: https://youtu.be/Si4ViAvvnwU?si=R38BF-6bvPxQ2DKY and https://www.w3schools.com/howto/howto_css_image_text.asp
*/
.img-container{
	position: relative;	
}
.text-inside-img{
	position: absolute; 
	bottom: 5%;
	color: black;
	padding-left: 40px;
}
.text-inside-img p {
	font-size: 25px;
}
.text-inside-img h3 {
	font-size: 35px;
}